{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="w-100 d-flex mx-auto mt-3">
        <h1 class="mt-3 mx-auto">Annonces</h1>
    </div>
    <div class="w-100 d-flex mx-auto mt-3">
        <a class="btn border-danger text-light mx-auto" href="{{ path('ad_new') }}">Créer une annonce</a>
    </div>
    <div class="w-100 d-flex container flex-column mx-auto mt-3">
        {% for ad in ads %}
            <div class="card mx-auto mt-3" style="width: 30rem;">
                <img src="{{ ad.thumbnail }}" class="card-img-top" alt="photo de {{ ad.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.shortDescription |length > 50 ? myentity.text|slice(0, 50) ~ '...' : ad.shortDescription}}</p>
                    <a href="{{ path('ad_show', {'id': ad.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                    <a href="{{ path('ad_edit', {'id': ad.id}) }}"class="btn border-danger text-light">Editer l'annonce</a>
                </div>
            </div>
        {% else %}
            <div>
                <p>Aucune annonce trouvée</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
