{{ form_start(form) }}
<div class="w-100 mx-auto d-flex flex-column">
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{form_errors(form.email)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.nickname) }}
        {{ form_widget(form.nickname) }}
        {{form_errors(form.nickname)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        {{form_errors(form.firstname)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        {{form_errors(form.lastname)}}
    </div>
</div>
<div class="d-flex flex-column mx-auto mt-4">
    <div class="mx-auto">
        <button class="btn btn-success">{{ button_label|default('Publier') }}</button>
    </div>
</div>
{{ form_end(form) }}