{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container w-100">
    <div class="w-100 d-flex mx-auto mt-3">
        <h1 class="mt-3 mx-auto">Utilisateurs</h1>
    </div>

    <div class="table mt-5 w-75">
        <div>
        {% for user in users %}
            <div class="d-flex flex-column">
                <div>{{ user.id }}</div>
                <div>{{ user.email }}</div>
                {# <div>{{ user.roles ? user.roles|json_encode : '' }}</div> #}
                <div>{{ user.nickname }}</div>
                <div>
                    <a class="btn btn-primary" href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-success" href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                </div>
                <p>_______</p>
            </div>
        {% else %}
            <tr>
                <div colspan="8">Aucun utilisateur trouvé</div>
            </tr>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
