{% extends 'base.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}
<div id="opacity" class="pt-5 container-fluid">
     <div class="d-flex flex-column justify-content-evenly">
          <h1 class="mt-5 pt-5 text-center">Mon compte</h1>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
               <div class="text-center row d-flex justify-content-center">
                    <div class="col-md-6 w-100">
                         <p class="pt-4"><strong>Nom complet : </strong>{{ app.user.firstname ~ ' ' ~ ' ' ~ app.user.lastname }}</p>
                         <p class="pt-4"><strong>Nom d'utilisateur : </strong>{{ app.user.nickname }}</p>
                         <p class="pt-4"><strong>Email : </strong>{{ app.user.email }}</p>
                         <p class="pt-4"><strong>Mot de passe :</strong> **********</p>
                    </div>
               </div>          
               <div class="pt-5 d-flex justify-content-evenly">
                    <div class="">
                         <a class="btn btn-warning" href="{{ path('index') }}">Retour à l'accueil</a>
                    </div>
                    <div class="d-flex flex-column">
                         <a class="btn btn-info" href="{{ path ('user_edit', {'id': app.user.id}) }}">Modifier les informations</a>
                         <form method="post" action="{{ path('user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le compte?');">
                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                              <button class="btn btn-danger">Supprimer le compte</button>
                         </form>
                    </div>
               </div>
          {% endif %}
     </div>
</div>


{% endblock %}