{{ form_start(form) }}
<div class="w-100 mx-auto d-flex flex-column">
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{form_errors(form.title)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{form_errors(form.content)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.shortDescription) }}
        {{ form_widget(form.shortDescription) }}
        {{form_errors(form.shortDescription)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr':{'type':'number', 'min' : '1',  'max' : '999999999'  }}) }}
        {{form_errors(form.price)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        {{form_errors(form.city)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        {{form_errors(form.phone)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.thumbnail) }}
        {{ form_widget(form.thumbnail) }}
        {{form_errors(form.thumbnail)}}
    </div>
    <div class="mt-4 mx-auto d-flex flex-column w-75">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories, {'attr': {'class': 'form-select'}}) }}
        {{form_errors(form.categories)}}
    </div>
</div>
<div class="d-flex flex-column mx-auto mt-4">
    <div class="mx-auto">
        <button class="btn btn-success">{{ button_label|default('Publier') }}</button>
    </div>
</div>
{{ form_end(form) }}
