{% extends 'base.html.twig' %}

{% block title %}Les Annonces{% endblock %}

{% block body %}
    <div class="w-100 d-flex mx-auto mt-3">
        <h1 class="mt-3 mx-auto">Les Annonces</h1>
    </div>
    <div class="w-100 d-flex container flex-column mx-auto mt-3">
        {% for ad in ads %}
            <div class="card mx-auto mt-3" style="max-width: 30rem;">
                <img src="{{ ad.thumbnail }}" class="img-fluid card-img-top" alt="photo de {{ ad.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.shortDescription |length > 50 ? myentity.text|slice(0, 50) ~ '...' : ad.shortDescription}}</p>
                    <div class="d-flex justify-content-around">
                        <a href="{{ path('admin_ad_show', {'id': ad.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('admin_ad_edit', {'id': ad.id}) }}"class="btn btn-success">Modifier</a>
                        {{ include('admin/ad/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p>Aucune annonce trouvée</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
